@charset "UTF-8";
*{
	
	box-sizing:border-box;
	margin:0;
	padding:0;
	
}


:root{
	
	--green-color:#7BA74C;
	--mauve-color:#503D76;
	--dark-color: #192027;
	--font-cairo:'Cairo', sans-serif;
	--font-fredoka:'Fredoka', sans-serif;
	--font-noto:'Noto Sans', sans-serif;
	--font-rolway: 'Raleway', sans-serif;
	
}

.container{
	
	width:1400px;
	margin:auto;
	
}

@media (max-width: 1450px){
    .container{
       width: 900px;
   }
 
}
@media (max-width: 900px){
    .container{
       width: 750px;
   }

}
@media (max-width: 767px){
    .container{
       width: 100%;
   }
    
}


/*Start navbar*/

/*Start topBar*/

.green{
	
	color: var(--green-color);
}

.navBar{
	
	width:100%;
	height:70px;
	background-color:#fffffffa;
	position:absolute;
	z-index:50;
}

.navBarOnscroll{
	
	width:100%;
	height:70px;
	background-color:#ffffff;
	position:absolute;
	z-index:50;
}

.navBar .topBar{
	
	width:100%;
	height:35px;
	display:flex;
	flex-wrap:nowrap;
	justify-content: space-between;
	font-family: var(--font-fredoka);
	font-size: x-small;
	
	
}
.navBar .topBar  p{

	color: #0000007a;
}

/*Start loc_mail*/

.navBar .topBar .loc_mail{
	
	width:650px;
	display:flex;
	flex-wrap:nowrap;
	
}
.navBar .topBar .loc_mail .loc{
	
	margin: 5px;
	padding:5px;
	display:flex;
	flex-wrap:nowrap;
	align-items: center;
}
.navBar .topBar .loc_mail .loc p{
	
	color:black;
}
.navBar .topBar .loc_mail .loc > *{
	
	padding-left:10px;
	
}

.navBar .topBar .loc_mail .mail{
	
	margin: 5px;
	padding:5px;
	display:flex;
	flex-wrap:nowrap;
	align-items: center;
	border-left: 1px solid #7070705c;
	
}
.navBar .topBar .loc_mail .mail p{
	
	color:black;
}
.navBar .topBar .loc_mail .mail > *{
	
	padding-left:10px;
}

/*End loc_mail*/

/*Start social_phone*/

.navBar .topBar .social_phone{
	
	width:250px;
	display:flex;
	flex-wrap:nowrap;
	justify-content: flex-end;
		
}
.navBar .topBar .social_phone .social {
	
	margin: 5px;
	padding:5px;
	display:flex;
	flex-wrap:nowrap;
	align-items: center;
	border-right: 1px solid #7070705c;
	
}
.navBar .topBar .social_phone .social > *{
	
		padding-right:10px;
}
.navBar .topBar .social_phone .phone {
	
	margin: 5px;
	padding:5px;
	display:flex;
	align-items: center;
	flex-wrap:nowrap;
}
.navBar .topBar .social_phone .phone p{
	
	color: black;
}
.navBar .topBar .social_phone .phone > *{
		
	padding-right:10px;
	
}
/*End social_phone*/

/*End topBar*/

/*Start navlist*/

.navBar .navList{
	
	width: 100%;
	display:flex;
	flex-wrap:nowrap;
	justify-content: space-between;
	background-color:#ffffff;
	font-family: var(--font-fredoka);
	font-size: smaller;
	box-shadow: 1px -1px 20px 0px #2c2c2c40;	
	border-bottom:5px solid var(--green-color);
	position:relative;
}

/*Start logo*/

.navBar .navList .logo{
	
	padding-left:5px;
	display:flex;
	align-items: center;
	
}

.navBar .navList .logo img{
	height:70px;
}

/*End logo*/

/*Start list*/

.navBar .navList .list{
	
	width:700px;
}
.navBar .navList .list ul{
	
	width:100%;
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

}
.navBar .navList .list ul li{
	
	height:100%;
	display:flex;
	align-items:center;
}

.navBar .navList .list ul li i{
	
	padding-left:5px;
	color: var(--green-color);
}
.navBar .navList .list ul li a{
	
	text-decoration: none;
	font-weight: 600;
    color: #00000094;
    position: relative;
	
}
.navBar .navList .list ul li a::before{
	
	content: "";
	position: absolute;
	height:100%;
	width:2px;
	background-color: var(--green-color);
	left: -8px;
	display: none;
}
.navBar .navList .list ul li{
	
	position: relative;
}

.navBar .navList .list ul li:hover > a{
	
	color: var(--green-color);
}
.navBar .navList .list ul li:hover > a::before{

	display: block;
}
.navBar .navList .list ul ul{
	
	position: absolute;
    background-color: #ffffff;
    width: 150px;
    height: 112px;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    top: 60px;
    left: -15px;
    
}
.navBar .navList .list ul li:hover ul{
	
	display:flex;
}

/*End list*/

/*Start profile_search*/

.navBar .navList .profile_search{
	
	width: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;	
	
}

/*Start profile*/

.navBar .navList .profile{	
	
	padding:5px;
	padding-right:10px;
	border-right:1px solid #c8c8c8;
	
}
/*End profile*/

/*Start search*/

.navBar .navList .search{
	
	paddin:5px;
	
}
/*End search*/
/*End profile_search*/
/*End navlist*/
/*End navbar*/



/*Start accueil */

.accueil{
    background-image: url(../images/accueilBackground.jpg);
    background-size: cover;
    position: relative;
    z-index: 0;
    width: 100%;
    height: 100vh;
    display:flex;
    flex-direction:column;
    font-family: var(--font-fredoka);
    
  
}
.accueil::before{
    content: "";
    background-color: rgb(0 0 0 / 70%);
    width: 100%;
    height: 100%;
    position:absolute;
    z-index: -1;
}
.accueil .container{
	
	display:flex;
    flex-direction:column; 
    align-items:center;
    margin-top: 350px;
    
}

.accueil .container .headContent{
	
	display: flex;
	position:relative;
	flex-direction: column;
	align-items: center;
	text-align:center;	
	width:750px;
}
.accueil .container .headContent:before{
	
	content: "";
    position: absolute;
    width: 25%;
    height: 65%;
    border-left: 10px solid #ffffff8a;
    border-top: 10px solid #ffffff8a;
    left: -10%;
    top: 5%;
}
.accueil .container .headContent:after{
	
	content: "";
    position: absolute;
    width: 25%;
    height: 65%;
    border-right: 10px solid #ffffff8a;
    border-bottom: 10px solid #ffffff8a;
    right: -10%;
    bottom: 5%;
}
.accueil .container .headContent .img img{

	height:55px;
}
.accueil .container .headContent .img {
	
	height:100%;
	padding:15px;
	border: 2px solid var(--green-color);
	border-radius:50%;
}
.accueil .container .headContent > h1{

	color:#ffffff;
	font-family: var(--font-cairo);
	font-size: 50px;
    font-weight: bolder;
    margin-top:50px;
}
.accueil .container .headContent > p{
	
	font-family: var(--font-cairo);
	color: #ffffff;
	
	margin:20px;
	
}

.accueil a{
    margin: auto;
    margin-bottom: 50px;
}
.accueil a i{

    color: var(--green-color);
    font-size: 25px;
    animation-name: bounce;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-delay: 0.5s;
}
@keyframes bounce {

    0%{
       transform: translateY(0);
    }
    20%{
        transform: translateY(-15px);
    }
    40%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-15px);
    }
    60%{
        transform: translateY(0);

    }
    100%{
         transform: translateY(0);
    }
    
}

/*End accueil */

/*Start cabinetBinome */

.cabinetBinome{
	
	width:100%;
	font-family: var(--font-cairo);
	
}

.cabinetBinome .container{
	
	display: flex;
	flex-direction:column;
	align-items:center;
	margin-top:50px;
	margin-bottom:100px;
}

.cabinetBinome .container h1{
	
	margin-top: 20px;
    margin-bottom: 90px;
    font-size: 40px;
}
.cabinetBinome .container a{
	width: 100%;
    text-decoration: none;
}
/*Start biographie */

.cabinetBinome .container .biographie{

	background-image: url(../images/history.jpg);
	background-size: cover;
	background-position: center;
    display: flex;
    align-items: flex-end;
    justify-content:center;
    height: 180px;
    text-align: center;
    margin-top:20px;
    margin-bottom:20px;
    width:100%;
    border-radius: 20px;
    position: relative;
     z-index: 0;
}

.cabinetBinome .container .biographie:before{
	
   content: "";
    background-color: rgb(0 0 0 / 55%);
    width: 100%;
    height: 100%;
    position:absolute;
    border-radius: 20px;
    z-index: -1;
	
}
.cabinetBinome .container .biographie .BContent{
	
	width:500px;
	height:70%;
	background-color: #7ba74c85;
	display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 15px;
	
}

.cabinetBinome .container .biographie .BContent > *{
	
	color:#ffffff;
}

/*End biographie*/

/*Start savoireFaire*/

.cabinetBinome .container .savoirFaire{

    	background-image: url(../images/savoirfaire.jpg);
	background-size: cover;
	background-position: center;
    display: flex;
    align-items: flex-end;
    justify-content:center;
    height: 180px;
    text-align: center;
 	margin-top:20px;
    margin-bottom:20px; 
    width:100%;
    border-radius: 20px;
     position: relative;
     z-index: 0;
    
}
.cabinetBinome .container .savoirFaire:before{
	
   content: "";
    background-color: rgb(0 0 0 / 55%);
    width: 100%;
    height: 100%;
    position:absolute;
    border-radius: 20px;
    z-index: -1;
	
}

.cabinetBinome .container .savoirFaire .SFContent{
	
	width:500px;
	height:70%;
	background-color: #503d76bd;
	display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 15px;
	
}

.cabinetBinome .container .savoirFaire .SFContent > *{
	
	color:#ffffff;
}

/*End savoireFaire*/
  
  
/*Start services*/
  
    
.cabinetBinome .container .services{

  	background-image: url(../images/services.jpg);
	background-size: cover;
	background-position: center;
    display: flex;
    align-items: flex-end;
    justify-content:center;
    height: 180px;
    text-align: center;
    margin-top:20px;
    margin-top:20px;
    width:100%;
    border-radius: 20px;
     position: relative;
     z-index: 0;

}    

.cabinetBinome .container .services:before{
	
   content: "";
    background-color: rgb(0 0 0 / 55%);
    width: 100%;
    height: 100%;
    position:absolute;
    border-radius: 20px;
    z-index: -1;
	
}

.cabinetBinome .container .services .SContent{
	
	width:500px;
	height:70%;
	background-color: #7ba74c85;
	display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 15px;
	
}

.cabinetBinome .container .services .SContent > *{
	
	color:#ffffff;
}


/*End services*/

/*End cabinetBinome */









/*Start footer */

.footer{
	widht:100%;
}

/*Start  links*/

.footer .links{
	
	width:100%;
	background-color: var(--green-color);
	font-family: var(--font-fredoka);
}

.footer .links .container{
	
	display: flex;
	justify-content: space-between;
	align-items:center;
	flex-wrap: nowrap;
	padding:10px;
}

/*Start  contact*/

.footer .links .contact{
	
	padding: 10px;
    text-align: center;
}

.footer .links .contact > *{
	
	margin:10px;
}
.footer .links .contact h2{
	
	color: white;
}

.footer .links .contact button{
	
	font-weight: 900;
    border-radius: 10px;
    border: 0px;
	padding: 10px;
	color: var(--green-color);
	
}

/*End  contact*/

/*Start  accesRapide*/

.footer .links .accesRapide{
	
	padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.footer .links .accesRapide > *{
	
	margin:10px;
}
.footer .links .accesRapide h2{
	
	color: white;
}
/*End  accesRapide*/

/*Start suivezNous */

.footer .links .suivezNous{
	
	padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
   	align-items:center;
}
.footer .links .suivezNous > *{
	
	margin:10px;
}
.footer .links .suivezNous h2{
	
	color: white;
}
.footer .links .suivezNous i{
	
	background-color:white;
	display:flex;
	align-items:center;
	justify-content:center;
	width:30px;
	height:30px;
	border: 1px solid black;
	border-radius:10px;
	font-size:15px;
}

/*End suivezNous */

/*End links*/

/*Start copyright */

.footer .copyright{
	
	width:100%;
	background-color: var(--dark-color);
}
.footer .copyright .container{
	
	text-align:center;
}
.footer .copyright .container p{
	
	font-family: var(--font-fredoka);
	font-size: x-small;
    font-weight: 100;
	color: #ffffff94;
	padding:10px;
}

.footer .copyright .container p spane{
	
	color: var(--green-color);
}
/*End copyright */
/*End footer */
