@charset "ISO-8859-1";
*{
	box-sizing:border-box;
	margin:0;
	padding:0;
	scroll-behavior: smooth;
	
}


:root{
	
	--green-color:#7BA74C;
	--green-trans: #7ba74c96;
	--mauve-color:#503D76;
	--mauve-trans:#503d7699;
	--dark-color: #192027;
	--dark-trans: #000000a3;
	--white-color: #ffffff;
	--white-trans: #ffffffcc;
	
	
	--font-cairo:'Cairo', sans-serif;
	--font-fredoka:'Fredoka', sans-serif;
	--font-noto:'Noto Sans', sans-serif;
	--font-rolway: 'Raleway', sans-serif;

	
}



/* --- Start Login page --- */

.loginPage{
	
	background-image: url("../images/pic-1.jpg");
    background-size: cover;
    position: relative;
    z-index: 0;
    width: 100%;
    height: 100vh;
    display:flex;
    flex-direction:column;
    font-family: var(--font-fredoka);
    
}

.loginPage::before{
	
    content: "";
    background-color: var(--dark-trans);
    width: 100%;
    height: 100%;
    position:absolute;
    z-index: -1;
}

.loginPage .adminLogin{
	width:  500px;
	background: var(--white-trans);
	margin: 12% auto;
	padding: 50px 0;
	color: var(--dark-color);
	box-shadow: 0 0 20px 2px rgba(0,0,0.5);
}



h1{
	text-align:  center;
	margin-bottom:  40px;
	color: var(--dark-color);
}

.loginPage .adminLogin div{
	margin: 31px auto;
	width:  80%;
	border-bottom: 1px solid var(--dark-color);
	padding-top:  10px;
	padding-bottom: 5px;
}

.loginPage .adminLogin div input{
	width:  90%;
	border: none;
	outline: none;
	background: transparent;
	color: var(--dark-color);
}


.loginPage .adminLogin div input::placeholder{
	color:  var(--dark-color);
}

.loginPage .adminLogin .fa{
	margin-right: 10px;
	color: var(--dark-color);
}


.loginPage .adminLogin .eye{
	position: absolute;
	color: var(--dark-color);
}

.loginPage .adminLogin #eyeShow{
	display:  none;
}

.loginPage .adminLogin .loginBtn{
	margin: 40px auto 20px;
	width:  80%;
	display: block;
	outline:  none;
	padding: 10px 0;
	border: 1px solid var(--dark-color);
	cursor: pointer;
	background: transparent;
	color: var(--dark-color);
	font-size: 16px;
	transition-duration: 0.3s;
	transition-timing-function: ease-in;
}

.loginPage .adminLogin .loginBtn:hover{
	
	color: var(--white-color);
	background-color: var(--dark-color);
	transition-duration: 0.3s;
	transition-timing-function: ease-in;
}



/* --- End Login page --- */



/* --- Start admin sidebar --- */

.adminSideBar{
	
	width: fit-content;
	height: 100vh;
	position: fixed;
	left:0;
	top:0;
	list-style:none;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 15px;
	background-color: var(--dark-color);
	font-family: var(--font-cairo);
	color: white;
	transition-duration: 0.2s;
    transition-timing-function: ease-out;
}

.adminSideBar div{
	
	width: 100%;
	transition-duration: 0.2s;
    transition-timing-function: ease-out;
}
.adminSideBar div li{
	
	width: 100%;
	position: relative;
	z-index:0;
}

.adminSideBar div .li{
	
	
	background-color: transparent;
	transition-duration: 0.2s;
    transition-timing-function: ease-out;
}
.adminSideBar div .liClicked{
	
 	border-radius: 10px;
    background-color: var(--green-color);
      transition-duration: 0.2s;
    transition-timing-function: ease-out;
    }

.adminSideBar div li span{
	
	padding: 10px;
}

.adminSideBar div .li .subList{
	
	height: 0;
	opacity: 0%;
	transition-duration: 0.2s;
    transition-timing-function: ease-out;
}
.adminSideBar div .li .subListClicked{
	
	height: 100%;
	opacity: 100%;
	transition-duration: 0.2s;
    transition-timing-function: ease-out;
}


.adminSideBar div li::after{
    content: "";
    width: 0%;
    height: 0;
    z-index: -1;
    border-radius: 10px;
    position: absolute;
    background-color: var(--green-color);
    left: 0;
    top: 0;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
}



.adminSideBar div li:hover:after{

    width: 100%;
    height: 100%;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
}

.adminSideBar div li ul li::after{
	
	content: "";
    width: 0%;
    height: 0;
    z-index: -1;
    position: absolute;
    border-radius: 5px;
    background-color: var(--dark-color);
    left: 0;
    top: 0;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
	
}

.adminSideBar div a{
	
	text-decoration: none;
	color: var(--white-color);
}

.adminSideBar div i{
	
	padding: 15px;
	font-size: 20px;
	
}
.adminSideBar .list{
	display: flex;
	align-items: center;
	flex:1;
}
	
.adminSideBar .list ul{
	
	list-style: none;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	
}


.showSpan{
	
	display: initial;
	transition-duration: 0.2s;
    transition-timing-function: ease-out;
}

.hideSpan{
	
	display: none;
	transition-duration: 0.2s;
    transition-timing-function: ease-out;
}

.normal{
	    transform: rotate(0deg);
	    transition-duration: 0.2s;
   		 transition-timing-function: ease-out;	
}

.rotate{
	    transform: rotate(180deg);
	    transition-duration: 0.2s;
   		 transition-timing-function: ease-out;	
}






/* --- End admin sidebar --- */

