<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>Binome</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>addBlog</display-name>
    <servlet-name>addBlog</servlet-name>
    <servlet-class>controlers.addBlog</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addBlog</servlet-name>
    <url-pattern>/administrateur/addBlog</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminLoginS</display-name>
    <servlet-name>adminLoginS</servlet-name>
    <servlet-class>controlers.adminLoginS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminLoginS</servlet-name>
    <url-pattern>/administrateur/adminLoginS</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>actionPoste</display-name>
    <servlet-name>actionPoste</servlet-name>
    <servlet-class>controlers.actionPoste</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>actionPoste</servlet-name>
    <url-pattern>/administrateur/actionPoste</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>actionCategorie</display-name>
    <servlet-name>actionCategorie</servlet-name>
    <servlet-class>controlers.actionCategorie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>actionCategorie</servlet-name>
    <url-pattern>/administrateur/actionCategorie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addComment</display-name>
    <servlet-name>addComment</servlet-name>
    <servlet-class>controlers.addComment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addComment</servlet-name>
    <url-pattern>/addComment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>likeDislike</display-name>
    <servlet-name>likeDislike</servlet-name>
    <servlet-class>controlers.likeDislike</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>likeDislike</servlet-name>
    <url-pattern>/likeDislike</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteComment</display-name>
    <servlet-name>deleteComment</servlet-name>
    <servlet-class>controlers.deleteComment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteComment</servlet-name>
    <url-pattern>/deleteComment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>actionComment</display-name>
    <servlet-name>actionComment</servlet-name>
    <servlet-class>controlers.actionComment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>actionComment</servlet-name>
    <url-pattern>/administrateur/actionComment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Test</display-name>
    <servlet-name>Test</servlet-name>
    <servlet-class>controlers.Test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/Test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginS</display-name>
    <servlet-name>LoginS</servlet-name>
    <servlet-class>controlers.LoginS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginS</servlet-name>
    <url-pattern>/LoginS</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutS</display-name>
    <servlet-name>LogoutS</servlet-name>
    <servlet-class>controlers.LogoutS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutS</servlet-name>
    <url-pattern>/administrateur/LogoutS</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateAdmin</display-name>
    <servlet-name>updateAdmin</servlet-name>
    <servlet-class>controlers.updateAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateAdmin</servlet-name>
    <url-pattern>/administrateur/updateAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateposte</display-name>
    <servlet-name>updateposte</servlet-name>
    <servlet-class>controlers.updateposte</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateposte</servlet-name>
    <url-pattern>/administrateur/updateposte</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>userServlet</display-name>
    <servlet-name>userServlet</servlet-name>
    <servlet-class>controlers.userServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userServlet</servlet-name>
    <url-pattern>/administrateur/userServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateUser</display-name>
    <servlet-name>updateUser</servlet-name>
    <servlet-class>controlers.updateUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateUser</servlet-name>
    <url-pattern>/administrateur/updateUser</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>addOffre</display-name>
    <servlet-name>addOffre</servlet-name>
    <servlet-class>controlers.addOffre</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addOffre</servlet-name>
    <url-pattern>/administrateur/addOffre</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>newsLetter</display-name>
    <servlet-name>newsLetter</servlet-name>
    <servlet-class>controlers.newsLetter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>newsLetter</servlet-name>
    <url-pattern>/newsLetter</url-pattern>
  </servlet-mapping>
     <servlet>
    <description></description>
    <display-name>userLogin</display-name>
    <servlet-name>userLogin</servlet-name>
    <servlet-class>controlers.userLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userLogin</servlet-name>
    <url-pattern>/userLogin</url-pattern>
  </servlet-mapping>
       <servlet>
    <description></description>
    <display-name>demandeEmploi</display-name>
    <servlet-name>demandeEmploi</servlet-name>
    <servlet-class>controlers.demandeEmploi</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>demandeEmploi</servlet-name>
    <url-pattern>/demandeEmploi</url-pattern>
  </servlet-mapping>
         <servlet>
    <description></description>
    <display-name>offrepdf</display-name>
    <servlet-name>offrepdf</servlet-name>
    <servlet-class>controlers.offrepdf</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>offrepdf</servlet-name>
    <url-pattern>/offrepdf</url-pattern>
  </servlet-mapping>
  
</web-app>