<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>Binome</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>addBlog</display-name>
    <servlet-name>addBlog</servlet-name>
    <servlet-class>controlers.addBlog</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addBlog</servlet-name>
    <url-pattern>/ADMIN/addBlog</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminLoginS</display-name>
    <servlet-name>adminLoginS</servlet-name>
    <servlet-class>controlers.adminLoginS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminLoginS</servlet-name>
    <url-pattern>/ADMIN/adminLoginS</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>actionPoste</display-name>
    <servlet-name>actionPoste</servlet-name>
    <servlet-class>controlers.actionPoste</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>actionPoste</servlet-name>
    <url-pattern>/ADMIN/actionPoste</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>demandepdf</display-name>
    <servlet-name>demandepdf</servlet-name>
    <servlet-class>controlers.demandepdf</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>demandepdf</servlet-name>
    <url-pattern>/ADMIN/demandepdf</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>actionCategorie</display-name>
    <servlet-name>actionCategorie</servlet-name>
    <servlet-class>controlers.actionCategorie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>actionCategorie</servlet-name>
    <url-pattern>/ADMIN/actionCategorie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addComment</display-name>
    <servlet-name>addComment</servlet-name>
    <servlet-class>controlers.addComment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addComment</servlet-name>
    <url-pattern>/addComment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>likeDislike</display-name>
    <servlet-name>likeDislike</servlet-name>
    <servlet-class>controlers.likeDislike</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>likeDislike</servlet-name>
    <url-pattern>/likeDislike</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteComment</display-name>
    <servlet-name>deleteComment</servlet-name>
    <servlet-class>controlers.deleteComment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteComment</servlet-name>
    <url-pattern>/deleteComment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>actionComment</display-name>
    <servlet-name>actionComment</servlet-name>
    <servlet-class>controlers.actionComment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>actionComment</servlet-name>
    <url-pattern>/ADMIN/actionComment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Test</display-name>
    <servlet-name>Test</servlet-name>
    <servlet-class>controlers.Test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/Test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginS</display-name>
    <servlet-name>LoginS</servlet-name>
    <servlet-class>controlers.LoginS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginS</servlet-name>
    <url-pattern>/LoginS</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutS</display-name>
    <servlet-name>LogoutS</servlet-name>
    <servlet-class>controlers.LogoutS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutS</servlet-name>
    <url-pattern>/ADMIN/LogoutS</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateAdmin</display-name>
    <servlet-name>updateAdmin</servlet-name>
    <servlet-class>controlers.updateAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateAdmin</servlet-name>
    <url-pattern>/ADMIN/updateAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateposte</display-name>
    <servlet-name>updateposte</servlet-name>
    <servlet-class>controlers.updateposte</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateposte</servlet-name>
    <url-pattern>/ADMIN/updateposte</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>userServlet</display-name>
    <servlet-name>userServlet</servlet-name>
    <servlet-class>controlers.userServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userServlet</servlet-name>
    <url-pattern>/ADMIN/userServlet</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>actionNewsLetter</display-name>
    <servlet-name>actionNewsLetter</servlet-name>
    <servlet-class>controlers.actionNewsLetter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>actionNewsLetter</servlet-name>
    <url-pattern>/ADMIN/actionNewsLetter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateUser</display-name>
    <servlet-name>updateUser</servlet-name>
    <servlet-class>controlers.updateUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateUser</servlet-name>
    <url-pattern>/ADMIN/updateUser</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>addOffre</display-name>
    <servlet-name>addOffre</servlet-name>
    <servlet-class>controlers.addOffre</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addOffre</servlet-name>
    <url-pattern>/ADMIN/addOffre</url-pattern>
  </servlet-mapping>
   <servlet>
    <description></description>
    <display-name>newsLetter</display-name>
    <servlet-name>newsLetter</servlet-name>
    <servlet-class>controlers.newsLetter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>newsLetter</servlet-name>
    <url-pattern>/newsLetter</url-pattern>
  </servlet-mapping>
     <servlet>
    <description></description>
    <display-name>userLogin</display-name>
    <servlet-name>userLogin</servlet-name>
    <servlet-class>controlers.userLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>userLogin</servlet-name>
    <url-pattern>/userLogin</url-pattern>
  </servlet-mapping>
       <servlet>
    <description></description>
    <display-name>demandeEmploi</display-name>
    <servlet-name>demandeEmploi</servlet-name>
    <servlet-class>controlers.demandeEmploi</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>demandeEmploi</servlet-name>
    <url-pattern>/demandeEmploi</url-pattern>
  </servlet-mapping>
         <servlet>
    <description></description>
    <display-name>offrepdf</display-name>
    <servlet-name>offrepdf</servlet-name>
    <servlet-class>controlers.offrepdf</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>offrepdf</servlet-name>
    <url-pattern>/offrepdf</url-pattern>
  </servlet-mapping>
  <servlet>
      <description></description>
    <display-name>actionEbook</display-name>
    <servlet-name>actionEbook</servlet-name>
    <servlet-class>controlers.actionEbook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>actionEbook</servlet-name>
    <url-pattern>/ADMIN/actionEbook</url-pattern>
  </servlet-mapping>
  
  
  
  <!-- Start jsp files mapping FRONT OFFICE -->
  
  

 <servlet>
    <servlet-name>index</servlet-name>
    <jsp-file>/index.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>index</servlet-name>
    <url-pattern>/Home</url-pattern>
  </servlet-mapping>


   <servlet>
    <servlet-name>blog</servlet-name>
    <jsp-file>/blog.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>blog</servlet-name>
    <url-pattern>/Blog</url-pattern>
  </servlet-mapping>
  
  
     <servlet>
    <servlet-name>article</servlet-name>
    <jsp-file>/poste.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>article</servlet-name>
    <url-pattern>/Article</url-pattern>
  </servlet-mapping>
  
  
  
   <servlet>
    <servlet-name>recrutement</servlet-name>
    <jsp-file>/recrutement.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>recrutement</servlet-name>
    <url-pattern>/Recrutement</url-pattern>
  </servlet-mapping>
  
  
  
  
  
     <servlet>
    <servlet-name>espaceclient</servlet-name>
    <jsp-file>/espaceclient.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>espaceclient</servlet-name>
    <url-pattern>/EspaceClient</url-pattern>
  </servlet-mapping>
  
  
  
  
     <servlet>
    <servlet-name>savoirfaire</servlet-name>
    <jsp-file>/savoirefaire.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>savoirfaire</servlet-name>
    <url-pattern>/SavoirFaire</url-pattern>
  </servlet-mapping>
  
  
     <servlet>
    <servlet-name>blogByCategorie</servlet-name>
    <jsp-file>/blogByCategorie.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>blogByCategorie</servlet-name>
    <url-pattern>/Categorie</url-pattern>
  </servlet-mapping>
  
  
  
  
     <servlet>
    <servlet-name>Biographie</servlet-name>
    <jsp-file>/Biographie.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Biographie</servlet-name>
    <url-pattern>/Biographie</url-pattern>
  </servlet-mapping>
  
  
      <servlet>
    <servlet-name>Formations</servlet-name>
    <jsp-file>/formation.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Formations</servlet-name>
    <url-pattern>/Formations</url-pattern>
  </servlet-mapping>
  
   <!-- End jsp files mapping FRONT OFFICE -->
  
  
  
  <servlet>
  	<servlet-name>adminLogin</servlet-name>
    <jsp-file>/administrateur/adminLogin.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminLogin</servlet-name>
    <url-pattern>/ADMIN/Login</url-pattern>
  </servlet-mapping>
  
  
    <servlet>
  	<servlet-name>Dashboard</servlet-name>
    <jsp-file>/administrateur/Dashboard.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Dashboard</servlet-name>
    <url-pattern>/ADMIN/Dashboard</url-pattern>
  </servlet-mapping>
  
  
  
      <servlet>
  	<servlet-name>SideBar</servlet-name>
    <jsp-file>/administrateur/adminSideBar.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>SideBar</servlet-name>
    <url-pattern>/ADMIN/adminSideBar.jsp</url-pattern>
  </servlet-mapping>
  
  
       <servlet>
  	<servlet-name>addblog</servlet-name>
    <jsp-file>/administrateur/addBlog.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>addblog</servlet-name>
    <url-pattern>/ADMIN/AjouterArticle</url-pattern>
  </servlet-mapping> 
  
  
  
         <servlet>
  	<servlet-name>updatePoste</servlet-name>
    <jsp-file>/administrateur/updatePoste.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>updatePoste</servlet-name>
    <url-pattern>/ADMIN/ModifierArticle</url-pattern>
  </servlet-mapping> 
  
  
  
       <servlet>
  	<servlet-name>posteListe</servlet-name>
    <jsp-file>/administrateur/posteListe.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>posteListe</servlet-name>
    <url-pattern>/ADMIN/Articles</url-pattern>
  </servlet-mapping> 
  
  
  
  
  
  
       <servlet>
  	<servlet-name>comments</servlet-name>
    <jsp-file>/administrateur/commentaires.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>comments</servlet-name>
    <url-pattern>/ADMIN/Commentaires</url-pattern>
  </servlet-mapping> 
  
  
  
  
    
       <servlet>
  	<servlet-name>offresEmplois</servlet-name>
    <jsp-file>/administrateur/offresEmplois.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>offresEmplois</servlet-name>
    <url-pattern>/ADMIN/OffresEmploi</url-pattern>
  </servlet-mapping> 
  
  
  
        <servlet>
  	<servlet-name>Utilisateurs</servlet-name>
    <jsp-file>/administrateur/Utilisateurs.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Utilisateurs</servlet-name>
    <url-pattern>/ADMIN/Utilisateurs</url-pattern>
  </servlet-mapping> 
  
  
  
  
    
        <servlet>
  	<servlet-name>updateuser</servlet-name>
    <jsp-file>/administrateur/updateUser.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateuser</servlet-name>
    <url-pattern>/ADMIN/ModifierUtilisateur</url-pattern>
  </servlet-mapping> 
  
  
  
  
       <servlet>
  	<servlet-name>profile</servlet-name>
    <jsp-file>/administrateur/Profile.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>profile</servlet-name>
    <url-pattern>/ADMIN/Profile</url-pattern>
  </servlet-mapping> 
  
  
  
  
    
       <servlet>
  	<servlet-name>newsletter</servlet-name>
    <jsp-file>/administrateur/newsletter.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>newsletter</servlet-name>
    <url-pattern>/ADMIN/NewsLetter</url-pattern>
  </servlet-mapping> 
  
  
      <servlet>
  	<servlet-name>ebook</servlet-name>
    <jsp-file>/administrateur/ebook.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ebook</servlet-name>
    <url-pattern>/ADMIN/Ebook</url-pattern>
  </servlet-mapping> 
  
   <!-- Start jsp files mapping BACK OFFICE -->
   
   
   
   
   
   
   
  
   <!-- End jsp files mapping BACK OFFICE -->
  
  
</web-app>