<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>Binome</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>addBlog</display-name>
    <servlet-name>addBlog</servlet-name>
    <servlet-class>controlers.addBlog</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addBlog</servlet-name>
    <url-pattern>/administrateur/addBlog</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminLogin</display-name>
    <servlet-name>adminLogin</servlet-name>
    <servlet-class>controlers.adminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminLogin</servlet-name>
    <url-pattern>/administrateur/adminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>actionPoste</display-name>
    <servlet-name>actionPoste</servlet-name>
    <servlet-class>controlers.actionPoste</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>actionPoste</servlet-name>
    <url-pattern>/administrateur/actionPoste</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>actionCategorie</display-name>
    <servlet-name>actionCategorie</servlet-name>
    <servlet-class>controlers.actionCategorie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>actionCategorie</servlet-name>
    <url-pattern>/administrateur/actionCategorie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addComment</display-name>
    <servlet-name>addComment</servlet-name>
    <servlet-class>controlers.addComment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addComment</servlet-name>
    <url-pattern>/addComment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>likeDislike</display-name>
    <servlet-name>likeDislike</servlet-name>
    <servlet-class>controlers.likeDislike</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>likeDislike</servlet-name>
    <url-pattern>/likeDislike</url-pattern>
  </servlet-mapping>
</web-app>